<form action="/find_friends">
  <input type="text" name="query">
  <input type="submit">
</form>

<ul>

  <% @users.each do |user| %>
    <% unless user.blocked_friends.include? current_user %>
      <li>

        <%= user.email %> -
        <% if current_user.pending_friends.include?(user) %>
          "Friendship Requested"
        <% elsif current_user.friends.include?(user) %>
          accepted
          <%= link_to "Remove", remove_friends_path(user), method: :post %>
        <% else %>
        <%= link_to "Add", add_friends_path(user), method: :post %>
        <% end %>

    </li>
    <% end %>
  <% end %>

</ul>
