<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Friend It</h1>
    <p>Your <strong>community</strong> first property rental solution</p>
    <%= link_to "sign up", new_user_registration_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="process">
  <div>
  <h1>How does it work?</h1>
  </div>
  <div class="container">
    <div>
      <i class="fas fa-user-check"></i>
      <p>Sign up</p>
    </div>
    <div>
      <i class="fas fa-users"></i>
      <p>add your friends</p>
    </div>
    <div>
      <i class="fas fa-home"></i>
      <p>Upload your flat</p>
    </div>
    <div>
      <i class="far fa-check-circle"></i>
      <p>Done! You can share properties with your friends</p>
    </div>
  </div>
</div>


