<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Friend It</h1>
    <p>Your <strong>community</strong> first property rental solution</p>
    <%= link_to "sign up", new_user_registration_path, class: "btn btn-ghost" %>
  </div>
</div>

<div class="Friend It process">
  <h1>How does it work?</h1>
</div>


