

<body id="home" class="scrollspy">



  <section class="slider">
    <ul class="slides">
      <li>
        <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
        <!-- random image -->
        <div class="caption center-align" >
          <h2>Friend It</h2>
          <h2>Your Community First Rental Solutions</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
          <h5>Your Community First Rental Solutions</h5>
        </div>
      </li>
      <li>
        <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
        <!-- random image -->
        <div class="caption left-align">
          <h2>Friend It</h2>
          <h2>Your Community First Rental Solutions</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
        </div>
      </li>
      <li>
        <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
        <!-- random image -->
        <div class="caption right-align">
          <h2>Ready?</h2>
          <h5 class="light grey-text text-lighten-3 hide-on-small-only"></h5>
        </div>
      </li>
      <li>
    </ul>
  </section>

  <!--Section: Search-->
  <section id="search" class="section section-search white darken-1 coolyellow-text center scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>How Does It Work?</h3>
        </div>
      </div>
    </div>


  <!--Section: Icon Boxes-->
  <section class="section coolyellow section-icons lighten-4 center">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <!--entire screen when on mobile, but 4 columns on medium size and above-->
          <div class="card-panel">
            <i class="material-icons large coolyellow">account_circle</i>
            <h4>Sign Up</h4>
            <p>Be part of our Community!</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large coolyellow">group_add</i>
            <h4>Add Your Friends</h4>
            <p>Time to add some of you best buddies</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large coolyellow">home</i>
            <h4>Upload Your Flat</h4>
            <p>Have a flat? Share it with your friends</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card-panel">
            <i class="material-icons large coolyellow">verified_user</i>
            <h4>Done!</h4>
            <p>You can share properties with your friends!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>


  <!--Section: Contact-->
  <section id="contact" class="section coolyellow section-contact scrollspy">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card-panel coolyellow white-text center">
            <i class="material-icons">thumb_up</i>
            <h5>Ready to Go?</h5>
            <br>
            <p><%=link_to "sign up", new_user_registration_path, class:"btn btn-ghost" %></p>
          </div>

        </div>

    </div>
  </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="script.js"></script>
</body>

























