#user {
  font-size: 15px;
}

.nav-link {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}

#home2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}

label {
  font-size: 15px;
}

.card .card-content .card-title {

  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  font-size: 15px;
}

.fa-bed:before {
  padding: 10px;
  color: #2D96F3;
}

.fa-restroom:before {
  padding: 10px;
  color: #2D96F3;
}

.fa-person-booth:before {
  padding: 10px;
  color: #2D96F3;
}

.fa-dollar-sign:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-exchange-alt:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-pause-circle:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-user-friends:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-hotel:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-user-check:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-map-marker-alt:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-address-book:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3
}

.card .card-content .card-title i {
  font-size: 25px;
}

i.right {
  font-size: 25px;
}
.flat-title {
  text-decoration: none;
  color: #144263;

}

.flat-title:hover {
  text-decoration: none;
  color: #144263;

}

.box-flat-title:hover {
  transform: translateY(-3px);
  transition: all 0.5s ease ;
}

.h3 {
  text-decoration: none !important;
  font-size: 20px;
  color: #144263;


}

.mb-text {
  text-decoration: none !important;
  color: $coolblack;
}

.mb-text:hover {
  transform: translateY(-3px);
  transition: all 0.5s ease ;
}

.fa-check-square:before {
  color: #2D96F3;
  margin-right: 8px;;

}

#index-price {
  padding-top: 0px;
}

.lined .nav-link {
  color: #2D96F3;
}

a {
  text-decoration: none !important;
  color: #2D96F3;
}

.friend-card-right h3 {
  font-size: 20px !important;
}

.friend-card-wrapper {
  border-radius: 16px;
}

#welcomeimage, #welcomeslider {
  height: 100vh !important;
  object-fit: cover;
}

.link-devise {
  font-size: 20px;
  margin-left: 150px;
}

.fa-home:before {
  margin-right: 30px;
  color: #2D96F3;
}

.fa-map-marked-alt:before {
  color: #2D96F3;
  font-size: 20px;
}

ul:not(.browser-default)>li {
  font-size: 18px;
}

.tab-content {
  min-height: 60vh;
}

.fa-calendar-alt:before {
  font-size: 20px;
  color: #2D96F3;
}

.fa-user-plus:before, .fa-user-clock:before, .fa-users:before {
  font-size: 20px;
  color: #2D96F3;
}

