#user {
  font-size: 15px;
}

.nav-link {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}

#home2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
}

label {
  font-size: 15px;
}

.card .card-content .card-title {

  display: block;
  line-height: 32px;
  margin-bottom: 8px;
  font-size: 15px;
}

.fa-bed:before {
  padding: 10px;
  color: #2D96F3;
}

.fa-restroom:before {
  padding: 10px;
  color: #2D96F3;
}

.fa-person-booth:before {
  padding: 10px;
  color: #2D96F3;
}

.fa-dollar-sign:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-exchange-alt:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-pause-circle:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-user-friends:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-hotel:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-user-check:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-map-marker-alt:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3;
}

.fa-address-book:before {
  padding: 10px;
  font-size: 20px;
  color: #2D96F3
}

