.mailbox {
 border: 2px solid $coolblack;
 border-radius: 8px;
 padding: 16px;
}

.contacts {
  border: 2px solid $coolyellow;
}

.mb-title {
  border-bottom: 2px solid $coolyellow;
  color: $coolblack;
  padding-bottom: 10px;
}

.item {
  border-bottom: 2px solid $coolyellow;
  padding-bottom: 10px;
  padding: 16px;
}

.sender-name {
  width: 20%;
}

.mb-decoration {
  text-decoration: none;
  color: $coolblack;
}

.mb-decoration p:hover {
  text-decoration: none !important;
}
.item:hover {
  background-color: rgba(242, 166, 90, .1);
  opacity: 80%;
  text-decoration: none !important;
}

.remove-decoration:hover {
  text-decoration: none;
}
