.navbar-lewagon {
  justify-content: space-between;
  background: $coolwhite;
}

.transparent-background {
  background: transparent;
  position: relative;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#search-btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  i {
    font-size: 2rem;
  }

}

#searchBar {
  background-color: transparent;
  width: 250px;
  height: 30px;
  i {
    font-size: 2rem;
  }
}
.d-flex {
  padding-left: 30px;
}

.nav-link {
  font-family: $headers-font !important;
}

.nav-link:hover, a:hover {
  transform: translateY(-3px);
  transition: all 0.5s ease ;
} 

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.5);
}