.navbar-lewagon {
  justify-content: space-between;
  background: #2A897B;
}

.transparent-background {
  background: transparent;
  position: relative;
  z-index: 2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#search-btn {
  background-color: transparent;
  width: 30px;
  height: 30px;
  i {
    font-size: 2rem;
  }

}

#searchBar {
  background-color: transparent;
  width: 250px;
  height: 30px;
  i {
    font-size: 2rem;
  }
}

.d-flex {
  padding-left: 30px;
}
