/* scroll-bar */
::-webkit-scrollbar {
    /* width: 0; */
    display: none;
}
#scroll-path {
    z-index: 500;
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}
#progress-bar {
    z-index: 500;
    position: fixed;
    top: 0;
    right: 0;
    width: 8px;
    background: linear-gradient(to top, #008aaf, #00ffe7);
    animation: progress 5s linear infinite;
}
@keyframes progress
{
    0%, 100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progress-bar:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #008aaf, #00ffe7);
    filter: blur(10px);
}
#progress-bar:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aaf, #00ffe7);
    filter: blur(30px);
}
