#search-bar {
  width: 100%;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  padding: 8px 16px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}
#search-bar:focus {
  border-bottom: 1px solid teal;
}

#search-btn i {
  color: #2D96F3;
}

.arrow,
.arrow:before {
  position: absolute;
  left: 75%;
}
.arrow {
  width: 16px;
  height: 16px;
  top: 75%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #ffc107 solid;
  border-bottom: 2px #ffc107 solid;
}
.arrow:before {
  content: '';
  width: 14px;
  height: 14px;
  top: 75%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #ffc107 solid;
  border-bottom: 1px #ffc107 solid;
  animation-duration: .6s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 0;
    transform: translate(-16px, -16px);
  }
  100% {
    opacity: 1;
  }
}