
.cards {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-gap: 16px;
  perspective: 1000px;
 
}

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }


  .card-trip {
    overflow: hidden;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
  }
  
  .card-trip > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-trip h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-trip p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }
  
  .card-trip .card-trip-infos {
    padding: 16px;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    height: 100%;
}

  .card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: 170px;
    width: 40px;
  }
  
  .fav-heart {
    position: absolute;
    right: 8px;
    top: 4px;
    color: #F5FFFA;
    size: 10px;
  }

  .fa-heart:before {
    content: "\f004";
    position: absolute;
    top: 10px;
    right: 10px;
    color: #F5FFFA;
}